<section class="laatste-nieuws">
    <h2>Laatste Nieuws</h2>

    <div class="container">
        
        {% for publication in datedpublications %}
            <article href="/publication/{{ publication.id }}">
                <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}" alt="publicatie-foto" width="100p">
                <p> {{ publication.topic }} </p>
            <p> {{ publication.date }} </p>

            <h4> {{ publication.title }} </h4>

            <a href="/publication/{{ publication.id }}"> Bekijk </a>
            </article>
        {% endfor %}
        
    </div>

    <div class="container-mobile">
        
    {% for publication in datedpublications %}
        <article href="/publication/{{ publication.id }}">
            <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}" alt="publicatie-foto" width="100p">
        </article>
    {% endfor %}
    
</div>
</section>

<section class="get-updated">
    <h3>Mis niets van onze nieuw</h3>

    <nav>
        <a href="#">Wordt parnter</a>
        <div class="arrow"></div>
    </nav>
</section>

<section class="partners">
    <h3>Wij bedanken onze trouwe partners</h3>
</section>

<div class="foto-parade">
    <div class="picture-container-1">
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736435836-logo-blue-darkblue.png" width="50p" alt="dearly">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736418904-logo-match-plan-met-descriptor-rgb_oranje-edited.png?auto=format&fit=fill&h=200&w=200" width="50p" alt="match-plan">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564241-amac-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="amac">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564219-ictrecht-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="ICTrecht">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736435836-logo-blue-darkblue.png" width="50p" alt="dearly">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736418904-logo-match-plan-met-descriptor-rgb_oranje-edited.png?auto=format&fit=fill&h=200&w=200" width="50p" alt="match-plan">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564241-amac-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="amac">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564219-ictrecht-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="ICTrecht">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736435836-logo-blue-darkblue.png" width="50p" alt="dearly">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736418904-logo-match-plan-met-descriptor-rgb_oranje-edited.png?auto=format&fit=fill&h=200&w=200" width="50p" alt="match-plan">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564241-amac-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="amac">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564219-ictrecht-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="ICTrecht">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736435836-logo-blue-darkblue.png" width="50p" alt="dearly">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736418904-logo-match-plan-met-descriptor-rgb_oranje-edited.png?auto=format&fit=fill&h=200&w=200" width="50p" alt="match-plan">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564241-amac-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="amac">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564219-ictrecht-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="ICTrecht">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736435836-logo-blue-darkblue.png" width="50p" alt="dearly">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1736418904-logo-match-plan-met-descriptor-rgb_oranje-edited.png?auto=format&fit=fill&h=200&w=200" width="50p" alt="match-plan">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564241-amac-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="amac">
        </div>
        <div class="containerA">
            <img src="https://www.datocms-assets.com/144536/1735564219-ictrecht-logo.png?auto=format&fit=fill&h=200&w=200" width="50p" class="ICTrecht">
        </div>
    </div>
</div>

<footer>
    <div class="logo-part">
        <img src="https://dutchdigitalagencies.com/_astro/logo.CO-nlMzN.svg" width="100px">

        <a class="login" href="#">Inloggen</a>
    </div>

    <div class="footer-links">
        <a href="#">Over ons</a>
        <a href="#">Events</a>
        <a href="#">Publicaties</a>
        <a href="#">Leden</a>
        <a href="#">Vacatures</a>
        <a href="https://www.datocms-assets.com/144536/1740403116-privacy-policy-dutch-digital-agencies.pdf">Privacy beleid</a>
    </div>

    <div class="email">

        <address class="footer-address">
            <p class="bold">Dutch Digital Agencies</p>
            <p>Overhoeksplein 1</p>
            <p>1031 KS Amsterdam</p>
        </address>

        <div class="footer-contact-info">
                <a class="fa-solid fa-phone" href="tel:+31854010391"></a>
                <a class="fa-solid fa-envelope" href="mailto:info@dutchdigitalagencies.com"></a>
        </div>

    </div>

    <div class="underline">
            <div class="links">
                <a href="https://www.instagram.com/dutchdigitalagencies/">Instagram</a>
                <a href="https://www.facebook.com/dutchdigitalagencies">Facebook</a>
                <a href="https://www.linkedin.com/company/dutch-digital-agencies/">Linkedin</a>
            </div>

            <div class="links-mobile">
                <a href="https://www.instagram.com/dutchdigitalagencies/">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://www.facebook.com/dutchdigitalagencies">
                    <i  class="fa-brands fa-square-facebook"></i>
                </a>
                <a>
                    <i href="https://www.linkedin.com/company/dutch-digital-agencies/" class="fa-brands fa-linkedin"></i>
                </a>
            </div>

            <p>Copyright © 2025 Dutch Digital Agencies</p>
    </div>
</footer>
</body>
</html>
