{% include 'views/head.liquid', title: 'DDA Publicaties' %}

<section class="publications">
    <a href="/"> Ga terug </a>
    {% comment %} hier moet nog een app.get komen {% endcomment %}
    <h1> {{ publicationz.title  }} </h1>
        <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
    </section>

    <section class="intro">
    <p>{{ publicationz.intro }}</p>
    </section>

    <section class="photo">
        <img src="{% if publication.photo %}https://fdnd-agency.directus.app/assets/{{ publication.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}">
    </section>

    <section class="content">

    {{ publicationz.content }}

    </section>

    <section class="comment">
        

    </section>

    {% for message in messages %}
        <div class="comment-1">
            <div class="name">
                <p>{{ message.from | replace: "Miel_", "" }}</p>
            </div>

            <div class="emoji">
                {% assign emoji = message.for | split: "_" %}
                {% if emoji[0] == 'smile' %}😊{%endif%}
                {% if emoji[0] == 'suprise' %}😲{%endif%}
            </div>

            <div class="comment">
                <p>{{ message.text }}</p>
            </div>
        </div>
    {% endfor %}

    <section class="type">

        <form class="form-element" action="/publication/{{publicationz.id}}" method="POST">
            {% comment %} hier kan je je bericht typen {% endcomment %}
                        
            <div class="form-elements">

                <textarea name="text" for="message" rows="12" cols="140" required class="text-area">    
                </textarea>

                <input type="text" name="from" id="name" placeholder="Naam" cols="25" required/>

                <select name="for" id="emojis" required>
                    <option value="smile">😊 </option>
                    <option value="tired">😩 </option>
                    <option value="surprise">😲 </option>
                    <option value="cry">😢 </option>
                </select>
                <button type="submit">Plaats</button>
            </div>
        </form>

    </section>

{% include 'views/footer.liquid' %}