{% include 'views/head.liquid', title: 'DDA Publicaties' %}

<section class="publications">
    <a href="/"> Ga terug </a>
    <h1> {{ publicationz.title }} </h1>
    <p>Om er voor te zorgen dat ook jij op de hoogte blijft van het laatste nieuws en interessante opinies met betrekking tot onze branche en digitale innovaties, delen we hier alle content die we of zelf hebben gecreëerd, bijvoorbeeld met input van onze leden, of verkregen hebben via één van onze partners.</p>
</section>

<section class="intro">
    <p>{{ publicationz.intro }}</p>
</section>

<section class="photo">
    <img src="{% if publicationz.photo %}https://fdnd-agency.directus.app/assets/{{ publicationz.photo }}{% else %}https://media.istockphoto.com/id/887464786/vector/no-cameras-allowed-sign-flat-icon-in-red-crossed-out-circle-vector.jpg?s=612x612&w=0&k=20&c=LVkPMBiZas8zxBPmhEApCv3UiYjcbYZJsO-CVQjAJeU={% endif %}">
</section>

<section class="test">
    <button class="test-submit">TEST</button>
</section>

<section class="content">
    {{ publicationz.content }}
</section>

<section class="comment-section">
    {% assign messageszero = messages %}
    {% if messageszero.size < 1 %}
        <div class="empty-state" id="empty">
            <p>Er zijn hier nog geen reacties</p>
        </div>
    {% else %}
    {% for message in messageszero %}
        <div class="comment-1">
            <div class="name">
                <h4>{{ message.from | replace: "Miel_", "" }}</h4>
            </div>
            <div class="emoji">
                {% if message.emoji == 'smile' %}😊{% endif %}
                {% if message.emoji == 'surprise' %}😲{% endif %}
                {% if message.emoji == 'tired' %}😩{% endif %}
                {% if message.emoji == 'cry' %}😢{% endif %}
            </div>
            <div class="comment">
                <p>{{ message.text }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}
</section>

<section class="type">
    <form class="form-element" action="/publication/{{ publicationz.id }}" method="POST">
        <div class="form-elements">
            <textarea name="text" rows="12" cols="140" required class="text-area" placeholder="Reageer hier jouw mening..."></textarea>

            <input type="text" name="from" id="name" placeholder="Naam" required class="forms hide name-comment" class="forms"/>

            <select name="emoji" id="emojis" required class="forms hide">
                <option value="smile">😊</option>
                <option value="tired">😩</option>
                <option value="surprise">😲</option>
                <option value="cry">😢</option>
            </select>

            <button type="submit" id="button" class="forms hide"><p>Plaats</p></button>
        </div>
    </form>
</section>

{% if loading-state %}
<section class="loading-state hidden" id="loading-state">
    <h2>Comment wordt geplaatst</h2>
    <div class="progressbar">
        <progress id="file" max="100" value="0" data-value="100">000</progress>
    </div>
</section>
{% endif %}

{% if error-state %}
<section class="error-state hidden" id="error-state">
    <div class="error">
        <h2>Error</h2>
        <p>Sorry maar het is niet gelukt om het bericht te plaatsen</p>
    </div>
</section>
{% endif %}

{% if success-state %}
<section class="success-state hidden" id="success-state">
    <div class="success">
        <h2>Success</h2>
        <p>Het is gelukt om de comment te plaatsen.</p>
        <div class="progressbar">
            <progress id="file" max="100" value="100" data-value="100">000</progress>
        </div>
    </div>
</section>
{% endif %}

{% include 'views/footer.liquid' %}
